*{
    margin: 0%;
}
nav{
    width: 100%;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
    color: #ECECEC;
    background-color: #2A1003;
    height: 45px;
    padding: 0px 240px 0px 240px;
    
}
.nav .logo{
    height: 25px;
    width: 25px;
}
.nav li{
    list-style-type: none;
}
.nav a{
    text-decoration: none;
    color: #8D8D8D;
    font-family: sans-serif;
}
.img1 .img1-1 img{
    width: 1519px;
    height: 540px;
}
.img1 .img1-text h1{
    color: white;
    margin: -380px 0px 0px 50px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.img2 ul{
    margin-top: 410px;
    background-color: white;
    cursor: pointer;
}
.img2 img{
    height: 70px;
}
.img2 ul .img-text{
    margin: 20px 0px 0px 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
hr{
    margin-top: 140px;
    border-top: solid 1px rgba(128, 128, 128, 0.349);
}
.img3 img{
    height: 30px;
    margin-top: 10px;
}
.img3 ul{
    background-color: white;
    margin-top: 70px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.img3 ul .img3-text{
    margin: 20px 0px 0px -50px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    color: #529ff1;
}
.hr2{
    border-top: solid 1px rgba(128, 128, 128, 0.349);
    margin-top: 90px;
}
.box3 .search h1{
    margin-left: 650px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 400;
    font-family: sans-serif;
}
.box3 .input input{
    margin: 10px 0px 0px 300px;
    width: 900px;
    height: 50px;
    font-size: 30px;
    padding-left: 40px;
    color: #8D8D8D;
    font-weight: lighter;
}
.box3 .input .input-search{
    margin: -30px 0px 0px 320px;
}
.hr3{
    border-top: solid 1px rgba(128, 128, 128, 0.349);
    margin-top: 50px;
}
.box4 .img4 img{
    height: 200px;
    margin: 50px 0px 0px 300px;
}
.box4 .img4-text{
    margin: -200px 0px 0px 700px;
}
.box4 .img4-text h1{
    font-size: 40px;
    font-family: sans-serif;
    color: #232121;
    font-weight: 500;
}
.box4 .img4-text h2{
    font-family: sans-serif;
    color: #232121;
    font-weight: 400;
    padding-top: 30px;
}
.box4 .img4-text h3{
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.box4 .img4-text h3 a{
    color: #529ff1;
}
.box5 .img5 img{
    margin-top: 50px;
    width: 1519px;
    height: 450px;
}
.img5-text{
    margin-top: -300px;
    margin-left: 350px;
}
.box5 .img5-text h1{
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}
.box5 .img5-text h2{
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.box5 .img5-text h3,h4{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.box5 .img5-text a{
    color: #529ff1;
}
.box6 .img6 img{
    height: 200px;
    margin: 220px 0px 0px 300px;
}
.box6 .img6-text{
    margin: -200px 0px 0px 700px;
}
.box6 .img6-text h1{
    font-size: 40px;
    font-family: sans-serif;
    color: #232121;
    font-weight: 500;
}
.box6 .img6-text h2{
    font-family: sans-serif;
    color: #232121;
    font-weight: 400;
    padding-top: 30px;
}
.box6 .img6-text h3{
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 22px;
}
.box6 .img6-text h3 a{
    color: #529ff1;
}
.hr4{
    border-top: solid 1px rgba(128, 128, 128, 0.349);
    margin-top: 50px;
}  
.box7 .img7 img{
    height: 220px;
    margin: 20px 0px 0px 770px;
}               
.img7-text{
    margin-top: -200px;
    margin-left: 320px;
}
.box7 .img7-text h1{
    font-size: 45px;
    color: rgba(19, 18, 18, 0.87);
    font-family: sans-serif;
    font-weight: 400;
}
.box7 .img7-text h2{
    font-size: 21px;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.box7 .img7-text h3{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
}
.box7 .img7-text a{
    color: #529ff1;
}
.hr5{
    margin-top: 70px;
    border-top: solid 1px rgba(128, 128, 128, 0.349);
}
.box8 .box8-text{
    color: rgba(19, 18, 18, 0.884);
    font-family: sans-serif;
    text-align: center;
}
.box8 .box8-text h1{
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
}
.box8 .box8-text h2,h3{
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}
.box8 .box8-text h2 a{
    color: #529ff1;
}
.hr6{
    margin-top: 70px;
    border-top: solid 1px rgba(128, 128, 128, 0.349);
    
}
.box9{
    background-color: white;
    margin-left: 400px;
    font-family: sans-serif;
}
.box9 ul{
    display: inline;
    background-color: white;
    height: 10px;
}
.box9 ul h3{
    color: #363534;
    font-size: 28px;
}
.box9 ul a{
    color: #529ff1;
    font-size: 20px;
}
.box9 li{
    height: 50px;
}
.footer .footer1 h5{
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    
}
.footer{
    background-color: #F2F2F2;
    height: 1000px;
}

.footer .footer-icons a{
    margin-left: 400px;
    
    
}
.footer .footer-icons .twitter{
    margin-left: 320px;
    height: 40px;
    margin-top: 20px;
    
}
.footer .footer-icons .youtube{
    margin-left: 370px;
    height: 40px;
    margin-top: -42px;
    position: absolute;
    
}
.hr7{
    border-top: solid 1px rgba(128, 128, 128, 0.44);
    margin: -820px 0px 0px 250px;
    width: 1050px;
}
.apple-logo{
    margin: 10px 0px 0px 250px;
    color: #363534;
}
.apple-logo img{
    height: 30px;
}
.apple-logo a{
    font-size: 15px;
    color: #363534b3;
}
.footer2{
    background-color: #F2F2F2;
}
.footer .footer2{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
    color: black;
    
}
.footer .footer2 a{
    text-decoration: none;
    color: #4e4a4a;
}
.footer .footer2  li{
    list-style-type: none;
    padding: 7px;
    font-size: 12px;
    font-family: sans-serif;
}
.footer .footer2 h5{
    font-size: 13px;
    color: black;
}
.footer .contact h5{
    margin: 50px 0px 0px 270px;
    font-size: 13.5px;
    font-family: sans-serif;
}
.footer .contact a{
    text-decoration: none;
}
.footer .contact h5{
    color: gray;
}
.footer .bottom h5{
    color: gray;
    margin: 10px 0px 0px 270px;
    font-size: 13.5px;
    font-family: sans-serif;
}
.footer .bottom .term{
    margin: -20px 0px 0px 610px;
    text-decoration: none;
}
.footer .bottom .term a{
    text-decoration: none;
    color: #8D8D8D;
    border-right: solid 1px gray;
    padding-right: 10px;
}
.footer .bottom .use{
    margin: -20px 0px 0px 740px;
    text-decoration: none;
}
.footer .bottom .use a{
    text-decoration: none;
    color: #8D8D8D;
    border-right: solid 1px gray;
    padding-right: 10px;
}
.footer .bottom .sales{
    margin: -20px 0px 0px 870px;
    text-decoration: none;
}
.footer .bottom .sales a{
    text-decoration: none;
    color: #8D8D8D;
    border-right: solid 1px gray;
    padding-right: 10px;
}
.footer .bottom .legal{
    margin: -10px 0px 0px 1000px;
    text-decoration: none;
}
.footer .bottom .legal a{
    text-decoration: none;
    color: #8D8D8D;
    border-right: solid 1px gray;
    padding-right: 10px;
}
.footer .bottom .site{
    margin: -18px 0px 0px 1090px;
    text-decoration: none;
}
.footer .bottom .site a{
    text-decoration: none;
    color: #8D8D8D;
    border-right: solid 1px gray;
    padding-right: 10px;
}





